<div class="main-card" *ngIf="movie || showDefaultValue">
  <div class="picture-box">
    <img
      [src]="getImagePath()"
      alt="{{ getImageAlt() }}"
      width="171"
      height="243.77"
    />
    <p *ngIf="movie">Nota {{ movie.vote_average }}</p>
  </div>
  <div *ngIf="movie">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.overview || 'Sinopse não disponível em português :(' }}</p>
  </div>
  <h3 *ngIf="!movie && showDefaultValue">
    Ops, hoje não é dia de assistir filme. <br />
    Bora codar! 🚀
  </h3>
</div>
