<div class="home-container">
  <div class="div-header">
    <img src="../../assets/shuffle.svg" width="87.24px" />
    <h1>Não sabe o que assistir?</h1>
  </div>
  <app-movie-card [movie]="movie" [showDefaultValue]="isMovieRequested" class="w-100">
  </app-movie-card>
  <button class="button btn-find-movie" (click)="getRandomMovie()">
    <img src="../../assets/shuffle.svg" width="36px" />
    Encontrar filme
  </button>
  <p class="sub-title">
    Clique em "Encontrar filme" que traremos informações <br />
    de algum filme para você assistir hoje.
  </p>
</div>
